<ion-split-pane contentId="home-content" [ngClass]="{'Colapsar':Colapsar}" class="transition-all" >
  <ion-menu  contentId="home-content" menuId="home-content" type="overlay" (mouseleave)="Salir()" class="transition-all">
      <ion-content class="ion-padding">
          <ion-list lines="none">
            <ion-list-header class="text-left mt-3 mb-10">
              <ion-toolbar class="w-full">
                <ion-img src="./assets/Login/Logo.png" class="h-8 m-0 p-0 w-full" *ngIf="!Colapsar"></ion-img>
                <ion-img src="./assets/Login/Logo_min.png" class="h-8 m-0 p-0" *ngIf="Colapsar"></ion-img>
              </ion-toolbar>
            </ion-list-header>
          <app-button-menu Texto="Semaforo Corporativo" Icono="layers-outline" ></app-button-menu>
          <app-button-menu Texto="Reportes O&M" Icono="briefcase-outline"></app-button-menu>
          <hr class="my-7">
          <ion-accordion-group [multiple]="true" [value]="['first', 'third']">
              <app-group-b-menu Valor="First" Texto="Reportes administrativos" Icono="speedometer-outline" 
                  [Items]="Reportes"></app-group-b-menu>
              <app-group-b-menu Valor="Second" Texto="Gestion administrativa" Icono="settings-outline" 
                  [Items]="Gestion"></app-group-b-menu>  
            </ion-accordion-group>
          </ion-list>
      </ion-content>
    </ion-menu>
    <ng-content></ng-content>
</ion-split-pane>